div#wp101-topic-listing {
	width: 270px;
	float: left;
	margin: 10px 10px 10px 0;
	padding: 10px;
	border: 1px solid #cfcfcf;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #f2f2f2;
	min-height: 400px;
	clear: left;
	}

div#wp101-topic-listing h3 {
	margin: 20px 0 0 0;
	padding: 0;
	color: #444;
	}

div#wp101-topic-listing h3:first-of-type {
	margin: 0;
	}

div#wp101-topic-listing h3 span a {
	float: right;
	font-weight: normal;
	}

div#wp101-topic-listing h3 span a:hover {
	background: #fafafa;
	border: 1px solid #c5c5c5;
	}

ul.wp101-topic-ul {
	margin: 20px 10px 10px 10px;
	}

ul.wp101-topic-ul li {
	list-style-type: none;
	font-size: 110%;
	}

ul.wp101-topic-ul ul li a {
	text-decoration: none;
	}

div#wp101-topic {
	max-width: 640px;
	padding-left: 320px;
	}

div#wp101-topic h2 {
	margin: 6px 0 10px 0;
	border-bottom: 1px solid #ddd;
	}

.wp101-topic-ul li small a {
	color: #777;
	}

.wp101-topic-ul li small a:hover {
	color: #111;
	}

ul.wp101-topic-ul li.wp101-shown small.wp101-show, ul.wp101-topic-ul li.wp101-hidden small.wp101-hide {
	display: none;
	}

ul.wp101-topic-ul li.wp101-hidden span {
	text-decoration: line-through;
	}

#icon-wp101 {
	background: transparent url( '../images/icon-32.png' ) no-repeat;
	}

.wp101-valid-key {
	color: green;
	padding: 7px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background: #eee;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .25), inset 0 0 15px rgba(0, 0, 0, .10);
	margin-left: 5px;
	}
