//colors
$color_celeste_approx: #cfcfcf;
$color_romance_approx: #fefefe;
$color_tundora_approx: #444;
$color_alto_approx: #ddd;
$alabaster: #fafafa;
$color_pumice_approx: #c5c5c5;
$color_tapa_approx: #777;
$color_woodsmoke_approx: #111;
$white: #fff;
$color_atlantis_approx: #7ad03a;
$black_10: rgba(0,0,0,.1);

//fonts
$font_0: dashicons;

.wrap {
	width: 97%;
}

#wp101_settings_button {
	margin-left: 24px;
}

div {
	&#wp101-topic-listing {
		width: 97%;
		margin: 10px 20px 10px 0;
		padding: 20px 10px;
		border: 1px solid $color_celeste_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 4px;
		background: $color_romance_approx;
		min-height: 400px;
		z-index: 20;
		float: left;
		clear: both;
		h3 {
			margin: 20px 0 0;
			padding: 0 0 12px;
			color: $color_tundora_approx;
			&:first-of-type {
				margin: 0!important;
			}
			
			span a {
				float: right;
				font-weight: 400;
				&:hover {
					background: $alabaster;
					border: 1px solid $color_pumice_approx;
				}
			}
		}
	}
	
	&#wp101-topic {
		width: 99%;
		padding-left: 0;
		float: left;
		z-index: 10;
		iframe {
			position: relative;
			width: 100%;
		}
		
		h2 {
			margin: 30px 0 12px;
			padding-bottom: 13px;
			border-bottom: 1px solid $color_alto_approx;
		}
	}
	
	&#wp101-settings h3.title {
		margin: 30px 0 0;
		padding: 0 0 12px!important;
		border-bottom: 1px solid $color_alto_approx;
		outline: 0;
		color: $color_tundora_approx;
	}
}

h3 {
	&.ui-accordion-header {
		padding: 0 0 12px!important;
		border-bottom: 1px solid $color_alto_approx;
		outline: 0;
		cursor: pointer;
	}
	
	&.ui-state-default::before {
		content: "► ";
		float: left;
		margin-right: 6px;
	}
	
	&.ui-accordion-header-active::before {
		content: "▼ ";
		float: left;
		margin-right: 6px;
	}
}

small {
	&.wp101-hide-all {
		display: none;
	}
	
	&.wp101-show-all {
		display: none;
	}
}

#wp101-settings {
	.submit {
		margin: 0;
		padding: 0;
	}
	
	h2.wp101title:before {
		font-family: $font_0;
		content: "\f236";
		font-size: 2rem;
		line-height: 1;
		float: left;
		margin-right: 7px;
		opacity: .7;
	}
	
	p.description {
		margin-top: 10px;
	}
}

.wp101-valid-key {
	display: inline-block;
	padding: 11px 15px;
	font-size: 13px;
	text-align: left;
	background-color: $white;
	border-left: 4px solid $color_atlantis_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 1px 1px 0 $black_10;
}

@media screen and(min-width:1043px) {
	body.folded div {
		&#wp101-topic-listing {
			float: left;
			clear: none;
			width: 22%;
		}
		
		&#wp101-topic {
			float: right;
			width: 74%;
		}
	}
}
	@media screen and(min-width:1155px) {
	div {
		&#wp101-topic-listing {
			float: left;
			clear: none;
			width: 24%;
			margin-right: 0;
		}
		
		&#wp101-topic {
			float: right;
			width: 72%;
		}
	}
}
ol.wp101-topic-ol {
	margin: 20px 10px 10px 48px;
	li {
		font-size: 110%;
		&.wp101-hidden {
			span {
				text-decoration: line-through;
			}
			
			small.wp101-hide {
				display: none;
			}
		}
		
		&.wp101-shown small.wp101-show {
			display: none;
		}
	}
	
	ul li a {
		text-decoration: none;
	}
}

.wp101-topic-ol li small a {
	color: $color_tapa_approx;
	&:hover {
		color: $color_woodsmoke_approx;
	}
}